/*-- HTML and Body --*/

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

nav a {
    padding: 0;
    margin: 0;
}

nav img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar-brand {
    width: 9rem;
}

/*-- Home Section --*/

#home {
    padding-top: 4rem;
    background-image: url("/static/img/queen_bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.queen-logo img {
    width: 100%;
    height: 100%;
    margin-top: 12rem;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

.intro-button a {
    margin-top: 7rem;
    font-size: 2rem;
    animation: fadein 4s;
}

.btn-primary {
    background-color: #000;
    color: #fafafa;
    border: none;
}

.btn-primary:hover {
    background-color: #fafafa;
    color: #000;
    border: none;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/*-- Auditorium Section --*/

#auditorium {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #230f1e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.auditorium-heading {
    color: #fafafa;
    margin-top: 3rem;
}

hr {
    border-color: #fafafa;
    border-style: solid none;
    border-width: 1px 0;
    width: 50%;
}

.song-description {
    color: #fafafa;
    padding: 1rem;
}

/*-- Cinema Section --*/

#cinema {
    height: auto;
    padding-top: 4rem;
    padding-bottom: 10rem;
    background-image: url("/static/img/cinema_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cinema-heading {
    color: #000;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
}

/*-- Shows Section --*/

#shows {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    background-color: #230f1e;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shows-heading {
    color: #fafafa;
    margin-top: 3rem;
}

hr {
    border-color: #fafafa;
    border-style: solid none;
    border-width: 1px 0;
    width: 50%;
}

table {
    font-size: 1rem;
}

table td {
    color: #fafafa;
    font-weight: bold;
}

table a {
    color: #DCC278;
}

table a:hover {
    color: #fafafa;
    text-decoration: none;
}

.shows-tabs .nav-link {
    color: #DCC278;
    font-weight: bold;
}

.shows-tabs .nav-link.active {
    color: #000;
}

.album-heading {
    color: #fafafa;
    margin-top: 1rem;
}

.album-row {
    padding-bottom: 1rem;
}

.album-row img {
    width: 15rem;
}

.album-list ul {
    margin-top: 2rem;
    color: #fafafa;
    font-size: 1.25rem;
    list-style-type: none;
    padding: 0;
}

/*-- About Section --*/

#about {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: url("/static/img/about_bg.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-col {
    background-color: #000;
    color: #fafafa;
    padding: 2rem;
    margin-bottom: 1rem;
}

.about-col img {
    width: 100%;
}

#about p {
    font-size: 1.25rem;
}

.member-description {
    padding: 0px 10px 0px 0px;
}

#about a {
    color: #DCC278;
}

.member-image {
    padding: 0px 0px 0px 10px;
}

/*-- Gallery Section --*/

#gallery {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #230f1e;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-heading {
    color: #fafafa;
    margin-top: 3rem;
}

.w3-content img {
    width: 100%;
}

/*-- Contact Section --*/

#forms {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: url("/static/img/forms_bg.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-form {
    background-color: #000;
    color: #fafafa;
    margin-bottom: 1rem;
    padding: 2rem;
    font-size: 1.25rem;
}

#subscribe-form {
    background-color: #000;
    color: #fafafa;
    padding: 2rem;
    font-size: 1.25rem;
}

/*-- Footer --*/

footer {
    background-color: #000;
    color: #fafafa;
}

.footer-row {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.social-links a {
    text-align: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #000;
    border-radius: 100%;
    line-height: 3.5rem;
    font-size: 25px;
    color: #fafafa;
}

.social-links .fa-facebook-f:hover {
    color: #4267b2;
}

.social-links .fa-twitter:hover {
    color: #38A1F3;
}

.social-links .fa-youtube:hover {
    color: #ED3833;
}

.social-links .fa-spotify:hover {
    color: #1DB954;
}

.social-links a:active {
    color: #fafafa;
}

/*-- Media Queries (ordered by device screen size) --*/

/*-- Smaller Mobile Screens --*/
@media screen and (min-width: 240px) and (max-width: 320px) and (orientation: portrait){
    h1, h3 {
        font-size: 1.2rem;
    }
    p {
        font-size: 1rem;
    }
    /*-- Home --*/
    .queen-logo img {
        width: 35%;
        margin-top: 8rem;
    }
    .intro-button a {
        margin-top: 2rem;
        font-size: 14px;
    }
    /*-- Listen --*/
    .spotify-player {
        padding: 0;
    }
    /*-- Shows --*/
    table td {
        font-size: 14px;
    }
    .album-list ol {
        padding-left: 10px;
        font-size: 10px;
    }
    /*-- About --*/
    .about-col img {
        width: 75%;
    }
}

@media screen and (min-width: 240px) and (max-width: 320px) and (orientation: landscape){
    h1, h3 {
        font-size: 1.2rem;
    }
    p {
        font-size: 1rem;
    }
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 2rem;
    }
    .intro-button a {
        margin-top: 1rem;
        font-size: 14px;
    }
    /*-- Shows --*/
    table td {
        font-size: 14px;
    }
    .album-list ol {
        padding-left: 10px;
        font-size: 0.8rem;
    }
    /*-- About --*/
    .about-col img {
        width: 75%;
    }
}


/*-- Larger Mobile Screens --*/
@media screen and (min-width: 320px) and (max-width: 896px) and (orientation: portrait){
    h1, h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    /*-- Home --*/
    .queen-logo img {
        width: 85%;
    }
    .intro-button a {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    /*-- Auditorium --*/
    .auditorium-heading {
        margin-top: 1rem;
    }
    /*-- Shows --*/
    table td {
        font-size: 14px;
    }
    .album-list ul {
        font-size: 16px;
    }
    /*-- About --*/
    .about-col img {
        width: 75%;
    }
    #about p {
        font-size: 1rem;
    }
    /*-- Gallery --*/
    .w3-large {
        font-size: 12px !important;
        padding: 5px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 896px) and (orientation: landscape){
    h1, h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 2rem;
    }
    .intro-button a {
        margin-top: 2rem;
        font-size: 1rem;
    }
    /*-- Auditorium --*/
    .auditorium-heading {
        margin-top: 1rem;
    }
    /*-- Cinema: ; --*/
    #cinema {
        padding-bottom: 10rem;
    }
    .cinema-heading {
        margin-top: 0.5rem;
    }
    /*-- About --*/
    .about-col img {
        width: 75%;
    }
    #about p {
        font-size: 1rem;
    }
    /*-- Gallery --*/
    .w3-content {
        width: 50%;
    }
    .w3-large {
        font-size: 12px !important;
        padding: 5px !important;
    }
}


/*-- Tablets --*/
@media screen and (min-width: 600px) and (max-width: 1280px) and (orientation : portrait){
    h1, h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    /*-- Home --*/
    .queen-logo img {
        width: 100%;
        margin-top: 20rem;
    }
    .intro-button a {
        margin-top: 9rem;
        font-size: 2rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 1280px) and (orientation : landscape){
    h1, h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 3rem;
    }
    /*-- Auditorium --*/
    .auditorium-heading {
        margin-top: 2rem;
    }
    table {
        font-size: 14px;
    }
    .album-list ul {
        font-size: 16px;
    }
    /*-- Gallery --*/
    .w3-content {
        width: 70%;
    }
}


/*-- Larger Tablets --*/
@media screen and (min-width: 1024px) and (max-width: 1337px) and (orientation : portrait){
    /*-- Home --*/
    .queen-logo img {
        width: 85%;
    }
    .intro-button a {
        margin-top: 9rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1337px) and (orientation : landscape){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 9rem;
    }
    .intro-button a {
        margin-top: 4rem;
        font-size: 2rem;
    }
}
