/*-- HTML and Body --*/

body, html {
    height: 100%;
}

/*-- Home Section --*/

#home {
    padding-top: 4rem;
    background-image: url("/static/img/queen_bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.queen-logo img {
    width: 100%;
    height: auto;
    margin-top: 12rem;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

.intro-button a {
    margin-top: 7rem;
    animation: fadein 4s;
}

.btn-primary {
    background-color: #000;
    color: #fafafa;
    border: none;
}

.btn-primary:hover {
    background-color: #fafafa;
    color: #000;
    border: none;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/*-- Listen Section --*/

#listen {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #230f1e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.listen-heading {
    color: #fafafa;
    margin-top: 3rem;
}

hr {
    border-color: #fafafa;
    border-style: solid none;
    border-width: 1px 0;
    width: 50%;
}

.song-description {
    color: #fafafa;
    padding: 1rem;
}

/*-- Watch Section --*/

#watch {
    padding-top: 3.6rem;
    background-image: url("https://cdn.cnn.com/cnn/interactive/2018/11/opinions/queen-live-aid-cnnphotos/media/01.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.watch-heading {
    color: #000;
    margin-top: 3rem;
}

#youtube-video {
    margin-top: 2rem;
}

/*-- Shows Section --*/

#shows {
    background-color: yellow;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-- About Section --*/

#about {
    background-color: orange;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-- Gallery Section --*/

#gallery {
    background-color: purple;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-- Contact Section --*/

#contact {
    background-color: brown;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-- Subscribe Section --*/

#subscribe {
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*-- Media Queries (ordered by device screen size) --*/

/*-- Nokia 8110 4G --*/
@media screen and (min-width: 240px) and (max-width: 320px) and (orientation: portrait){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 3rem;
    }
    .intro-button a {
        margin-top: 2rem;
        font-size: 14px;
    }
    /*-- Listen --*/
    .spotify-player {
        padding: 0;
    }
}

@media screen and (min-width: 240px) and (max-width: 320px) and (orientation: landscape){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 2rem;
    }
    .intro-button a {
        margin-top: 1rem;
        font-size: 14px;
    }
}


/*-- iPhone 5/SE --*/
@media screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 10rem;
    }
    .intro-button a {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 2rem !important;
    }
    .intro-button a {
        margin-top: 1rem;
    }
}


/*-- Galaxy Note 3, Galaxy S5, Galaxy S9/S9+, iPhone 6/7/8, iPhone 6/7/8 Plus, Microsoft Lumia 550/950  --*/
@media screen and (min-width: 360px) and (max-width: 740px) and (orientation: portrait){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 11rem;
    }
    .intro-button a {
        margin-top: 2rem;
    }
    
    /*-- Listen --*/
    #spotify-play {
        width: 75%;
    }
}

@media screen and (min-width: 360px) and (max-width: 740px) and (orientation: landscape){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 3rem;
    }
    .intro-button a {
        margin-top: 2rem;
    }
    
    /*-- Listen --*/
    .listen-heading {
        margin-top: 1rem;
    }
    #spotify-play {
        width: 100%;
    }
}


/*-- LG Optimus L70 --*/
@media screen and (min-width: 384px) and (max-width: 640px) and (orientation: portrait){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 11rem !important;
    }
    .intro-button a {
        margin-top: 2rem;
    }
}


/*-- iPhone X/XS --*/
@media screen and (min-width: 375px) and (max-width: 812px) and (orientation: portrait){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 15rem;
    }
    .intro-button a {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 1.5rem !important;
    }
    .intro-button a {
        margin-top: 2rem;
    }
}


/*-- Galaxy Note 9, iPhone XR, iPhone XS Max, LG Optimus L70 (Landscape), Nexus 5X, Nexus 6P, Pixel 2, Pixel 2 XL --*/
@media screen and (min-width: 411px) and (max-width: 896px) and (orientation: portrait){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 15rem !important;
    }
    .intro-button a {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 411px) and (max-width: 896px) and (orientation: landscape){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 3rem !important;
    }
    .intro-button a {
        margin-top: 2rem;
    }
}


/*-- iPad, iPad Pro (10.5inch), iPad Mini, Nexus 10, Kindle Fire HDX --*/
@media (min-width: 768px) and (max-width: 1280px) and (orientation : portrait){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 20rem;
    }
    .intro-button a {
        margin-top: 3rem;
    }
}

@media (min-width: 768px) and (max-width: 1280px) and (orientation : landscape){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 10rem;
    }
    .intro-button a {
        margin-top: 3rem;
    }
}


/*-- iPad Pro (12.9inch) --*/
@media (min-width: 1024px) and (max-width: 1337px) and (orientation : portrait){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 20rem;
    }
    .intro-button a {
        margin-top: 3rem;
    }
}

@media (min-width: 1024px) and (max-width: 1337px) and (orientation : landscape){
    /*-- Home --*/
    .queen-logo img {
        width: 75%;
        margin-top: 15rem;
    }
    .intro-button a {
        margin-top: 3rem;
    }
}