body, html {
    height: 100%;
}

#home {
    background-image: url("/static/img/queen_bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(30%);
}

#listen {
    background-color: blue;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#watch {
    background-color: green;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#shows {
    background-color: yellow;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    background-color: orange;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#gallery {
    background-color: purple;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    background-color: brown;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#subscribe {
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}